body {
    background: #f3f3f3;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #3160e2;
}

.link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #3160e2;
    transition: .3s;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 100%;
}

.App.leave{
    transform: translateY(-50px);
    transition: .5s ease-in-out;
}