.home-content{
    padding-bottom: 150px;
    z-index: 500;
    overflow: hidden;
}
.welcome{
    width: 100vw;
    height: 37vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    overflow: hidden;
    padding: 0px;
}
.headerimage{
    width: 100%;
    height: 100%;
    filter: brightness(90%);
}

.news{
    width: 90vw;
    min-height: 200px;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.news-article{
    margin: 5px 20px;
    padding: 10px 10px;
    border-top: 1px dashed #baabbb;
}
.news-article:last-child{
    border-bottom: 1px dashed #baabbb;
}
.article-date{
    color: #4e4e4e;
}

.content-title{
    border-left: 4px solid #000000;
    font-size: 1.8em;
    padding-left: 15px;
    margin: 15px 15px;
    margin-bottom: 20px;
    font-family: 'Cutive Mono', monospace;
}

.contents{
    width: 90vw;
    height: auto;
    margin: auto auto;
    overflow: hidden;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.content-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.links{
    width: 90vw;
    min-height: 200px;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
@media screen and (min-width: 425px) {
	.contents {
        width: 70vw;
    }
    .news{
        width: 70vw;
    }
    .links{
        width: 70vw;
    }
}