.timetable-content{
    width: 100vw;
    padding-bottom: 150px;
    z-index: 500;
    overflow: hidden;
}
@media screen and (min-width: 1024px){
    .timetable-content{
        width: calc(100vw - 300px);
        transform: translateX(300px);
    }
}